---
import DefaultPageLayout from '../layouts/default.astro'
import PostPreviewList from '../components/PostPreviewList.astro'


const title = 'Home'
const description = 'Welcome, readers!'

const posts = await Astro.glob('./blog/*.md')
---
<DefaultPageLayout content={{ title, description }} showPageHeader={false}>
    <PostPreviewList posts={posts} />
    <div class="page__actions">
        <a class="action__go-to-blog" href="/blog" title="All Posts">All Posts &rarr;</a>
    </div>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</DefaultPageLayout>

<style>
    .page__actions {
        @apply flex justify-center md:justify-end py-6
    }
    .action__go-to-blog {
        @apply text-base uppercase text-gray-500 dark:text-gray-400 hover:underline
    }
</style>
